<div class="card text-center">
  <div class="card-header">

  </div>
  <div class="card-body">
    <h5 class="card-title"></h5>
    <p class="card-text"></p>
  </div>
  <div class="card-footer text-muted">

  </div>
</div>


<div class="card bg-dark text-white">
  <img class="round"<%= image_tag "image1.jpg"%>
  <div class="card-img-overlay text-center">
    <h2 class="card-title"><%= t 'pages.home.bazargani' %></h2>
    <p class="card-text"><%= t 'pages.home.discription' %> </p>
    <p class="card-text"><strong><%= t 'pages.home.Engineer' %></strong></p>
  </div>
</div>



<div class="card text-start">
  <div class="card-header">
<%= t 'pages.home.contact1' %>
  </div>
  <div class="card-body">
    <h5 class="card-title"></h5>
    <p class="card-text"><%= t 'pages.home.person' %></p>
    <p class="card-text"><%= t 'pages.home.tel' %></p>
    <p class="card-text"><%= t 'pages.home.mobile' %></p>
    <p class="card-text"><%= t 'pages.home.email' %></p>
    <p class="card-text"><%= t 'pages.home.vat' %></p>

  </div>
  <div class="card-footer text-muted text-center">
<%= t 'pages.home.branch' %>
  </div>
</div>
