<div class="card text-center">
  <div class="card-header">

  </div>
  <div class="card-body">
    <h5 class="card-title"></h5>
    <p class="card-text"></p>
  </div>
  <div class="card-footer text-muted">

  </div>
</div>


<div class="card-group">
  <div class="card">
    <img class="round"<%= image_tag "quarry1.jpg"%>
    <div class="card-body text-center">
      <h2 class="card-title"><%= t 'pages.product.travertin1' %></h2>
      <p class="card-text"><%= t 'pages.product.sale1' %></p>
    </div>
    <div class="card-footer text-center">
      <small class="text-muted"><%= t 'pages.product.update' %></small>
    </div>
  </div>
  <div class="card">
    <img class="round"<%= image_tag "quarry2.jpg"%>
    <div class="card-body text-center">
      <h2 class="card-title"><%= t 'pages.product.marbel1' %></h2>
      <p class="card-text"><%= t 'pages.product.sale2' %></p>
    </div>
    <div class="card-footer text-center">
      <small class="text-muted"><%= t 'pages.product.update' %></small>
    </div>
  </div>
  <div class="card">
    <img class="round"<%= image_tag "quarry3.jpg"%>
    <div class="card-body text-center">
      <h2 class="card-title"><%= t 'pages.product.granite1' %></h2>
      <p class="card-text"><%= t 'pages.product.sale3' %></p>
    </div>
    <div class="card-footer text-center">
      <small class="text-muted"><%= t 'pages.product.update' %></small>
    </div>
  </div>
</div>



<div class="card-group">
  <div class="card">
    <img class="round"<%= image_tag "quarry4.jpg"%>
    <div class="card-body text-center">
      <h2 class="card-title"><%= t 'pages.product.basalt1' %></h2>
      <p class="card-text"><%= t 'pages.product.sale4' %></p>
    </div>
    <div class="card-footer text-center">
      <small class="text-muted"><%= t 'pages.product.update' %></small>
    </div>
  </div>
  <div class="card">
    <img class="round"<%= image_tag "quarry5.jpg"%>
    <div class="card-body text-center">
      <h2 class="card-title"><%= t 'pages.product.natural1' %></h2>
      <p class="card-text"></p>
      <p class="card-text"><%= t 'pages.product.sale5' %></p>
    </div>
    <div class="card-footer text-center">
      <small class="text-muted"><%= t 'pages.product.update' %></small>
    </div>
  </div>
  <div class="card">
    <img class="round"<%= image_tag "quarry6.jpg"%>
    <div class="card-body text-center">
      <h2 class="card-title"><%= t 'pages.product.quarry1' %></h2>
      <p class="card-text"><%= t 'pages.product.sale5' %></p>
    </div>
    <div class="card-footer text-center">
      <small class="text-muted"><%= t 'pages.product.update' %></small>
    </div>
  </div>
</div>



<div class="card-group">
  <div class="card">
    <img class="round"<%= image_tag "tstone1.jpg"%>
    <div class="card-body text-center">
      <h2 class="card-title"><%= t 'pages.product.travertine2' %></h2>
      <p class="card-text"><%= t 'pages.product.sale1' %></p>
    </div>
    <div class="card-footer text-center">
      <small class="text-muted"><%= t 'pages.product.update' %></small>
    </div>
  </div>
  <div class="card">
    <img class="round"<%= image_tag "tstone2.jpg"%>
    <div class="card-body text-center">
      <h2 class="card-title"><%= t 'pages.product.travertine2' %></h2>
      <p class="card-text"><%= t 'pages.product.sale1' %></p>
    </div>
    <div class="card-footer text-center">
      <small class="text-muted"><%= t 'pages.product.update' %></small>
    </div>
  </div>
  <div class="card">
    <img class="round"<%= image_tag "tstone3.jpg"%>
    <div class="card-body text-center">
      <h2 class="card-title"><%= t 'pages.product.travertine2' %></h2>
      <p class="card-text"><%= t 'pages.product.sale1' %></p>
    </div>
    <div class="card-footer text-center">
      <small class="text-muted"><%= t 'pages.product.update' %></small>
    </div>
  </div>
</div>



<div class="card-group">
  <div class="card">
    <img class="round"<%= image_tag "tstone4.jpg"%>
    <div class="card-body text-center">
      <h2 class="card-title"><%= t 'pages.product.travertine2' %></h2>
      <p class="card-text"><%= t 'pages.product.sale1' %></p>
    </div>
    <div class="card-footer text-center">
      <small class="text-muted"><%= t 'pages.product.update' %></small>
    </div>
  </div>
  <div class="card">
    <img class="round"<%= image_tag "tstone5.jpg"%>
    <div class="card-body text-center">
      <h2 class="card-title"><%= t 'pages.product.travertine2' %></h2>
      <p class="card-text"><%= t 'pages.product.sale1' %></p>
    </div>
    <div class="card-footer text-center">
      <small class="text-muted"><%= t 'pages.product.update' %></small>
    </div>
  </div>
  <div class="card">
    <img class="round"<%= image_tag "tstone6.jpg"%>
    <div class="card-body text-center">
      <h2 class="card-title"><%= t 'pages.product.travertine2' %></h2>
      <p class="card-text"><%= t 'pages.product.sale1' %></p>
    </div>
    <div class="card-footer text-center">
      <small class="text-muted"><%= t 'pages.product.update' %></small>
    </div>
  </div>
</div>




<div class="card-group">
  <div class="card">
    <img class="round"<%= image_tag "tstone7.jpg"%>
    <div class="card-body text-center">
      <h2 class="card-title"><%= t 'pages.product.travertine2' %></h2>
      <p class="card-text"><%= t 'pages.product.sale1' %></p>
    </div>
    <div class="card-footer text-center">
      <small class="text-muted"><%= t 'pages.product.update' %></small>
    </div>
  </div>
  <div class="card">
    <img class="round"<%= image_tag "mstone1.jpg"%>
    <div class="card-body text-center">
      <h2 class="card-title"><%= t 'pages.product.marbel2' %></h2>
      <p class="card-text"><%= t 'pages.product.sale2' %></p>
    </div>
    <div class="card-footer text-center">
      <small class="text-muted"><%= t 'pages.product.update' %></small>
    </div>
  </div>
  <div class="card">
    <img class="round"<%= image_tag "mstone2.jpg"%>
    <div class="card-body text-center">
      <h2 class="card-title"><%= t 'pages.product.marbel2' %></h2>
      <p class="card-text"><%= t 'pages.product.sale2' %></p>
    </div>
    <div class="card-footer text-center">
      <small class="text-muted"><%= t 'pages.product.update' %></small>
    </div>
  </div>
</div>



<div class="card-group">
  <div class="card">
    <img class="round"<%= image_tag "mstone3.jpg"%>
    <div class="card-body text-center">
      <h2 class="card-title"><%= t 'pages.product.marbel2' %></h2>
      <p class="card-text"><%= t 'pages.product.sale2' %></p>
    </div>
    <div class="card-footer text-center">
      <small class="text-muted"><%= t 'pages.product.update' %></small>
    </div>
  </div>
  <div class="card">
    <img class="round"<%= image_tag "mstone4.jpg"%>
    <div class="card-body text-center">
      <h2 class="card-title"><%= t 'pages.product.marbel2' %></h2>
      <p class="card-text"><%= t 'pages.product.sale2' %></p>
    </div>
    <div class="card-footer text-center">
      <small class="text-muted"><%= t 'pages.product.update' %></small>
    </div>
  </div>
  <div class="card">
    <img class="round"<%= image_tag "mstone5.jpg"%>
    <div class="card-body text-center">
      <h2 class="card-title"><%= t 'pages.product.marbel2' %></h2>
      <p class="card-text"><%= t 'pages.product.sale2' %></p>
    </div>
    <div class="card-footer text-center">
      <small class="text-muted"><%= t 'pages.product.update' %></small>
    </div>
  </div>
</div>




<div class="card-group">
  <div class="card">
    <img class="round"<%= image_tag "mstone6.jpg"%>
    <div class="card-body text-center">
      <h2 class="card-title"><%= t 'pages.product.marbel2' %></h2>
      <p class="card-text"><%= t 'pages.product.sale2' %></p>
    </div>
    <div class="card-footer text-center">
      <small class="text-muted"><%= t 'pages.product.update' %></small>
    </div>
  </div>
  <div class="card">
    <img class="round"<%= image_tag "mstone7.jpg"%>
    <div class="card-body text-center">
      <h2 class="card-title"><%= t 'pages.product.marbel2' %></h2>
      <p class="card-text"><%= t 'pages.product.sale2' %></p>
    </div>
    <div class="card-footer text-center">
      <small class="text-muted"><%= t 'pages.product.update' %></small>
    </div>
  </div>
  <div class="card">
    <img class="round"<%= image_tag "mstone8.jpg"%>
    <div class="card-body text-center">
      <h2 class="card-title"><%= t 'pages.product.marbel2' %></h2>
      <p class="card-text"><%= t 'pages.product.sale2' %></p>
    </div>
    <div class="card-footer text-center">
      <small class="text-muted"><%= t 'pages.product.update' %></small>
    </div>
  </div>
</div>



<div class="card-group">
  <div class="card">
    <img class="round"<%= image_tag "mstone9.jpg"%>
    <div class="card-body text-center">
      <h2 class="card-title"><%= t 'pages.product.marbel2' %></h2>
      <p class="card-text"><%= t 'pages.product.sale2' %></p>
    </div>
    <div class="card-footer text-center">
      <small class="text-muted"><%= t 'pages.product.update' %></small>
    </div>
  </div>
  <div class="card">
    <img class="round"<%= image_tag "gstone1.jpg"%>
    <div class="card-body text-center">
      <h2 class="card-title"><%= t 'pages.product.granite2' %></h2>
      <p class="card-text"><%= t 'pages.product.sale3' %></p>
    </div>
    <div class="card-footer text-center">
      <small class="text-muted"><%= t 'pages.product.update' %></small>
    </div>
  </div>
  <div class="card">
    <img class="round"<%= image_tag "gstone2.jpg"%>
    <div class="card-body text-center">
      <h2 class="card-title"><%= t 'pages.product.granite2' %></h2>
      <p class="card-text"><%= t 'pages.product.sale3' %></p>
    </div>
    <div class="card-footer text-center">
      <small class="text-muted"><%= t 'pages.product.update' %></small>
    </div>
  </div>
</div>




<div class="card-group">
  <div class="card">
    <img class="round"<%= image_tag "bstone1.jpg"%>
    <div class="card-body text-center">
      <h2 class="card-title"><%= t 'pages.product.basalt2' %></h2>
      <p class="card-text"><%= t 'pages.product.sale4' %></p>
    </div>
    <div class="card-footer text-center">
      <small class="text-muted"><%= t 'pages.product.update' %></small>
    </div>
  </div>
  <div class="card">
    <img class="round"<%= image_tag "nstone1.jpg"%>
    <div class="card-body text-center">
      <h2 class="card-title"><%= t 'pages.product.natural2' %></h2>
      <p class="card-text"><%= t 'pages.product.sale5' %></p>
    </div>
    <div class="card-footer text-center">
      <small class="text-muted"><%= t 'pages.product.update' %></small>
    </div>
  </div>
  <div class="card">
    <img class="round"<%= image_tag "nstone2.jpg"%>
    <div class="card-body text-center">
      <h2 class="card-title"><%= t 'pages.product.natural2' %></h2>
      <p class="card-text"><%= t 'pages.product.sale5' %></p>
    </div>
    <div class="card-footer text-center">
      <small class="text-muted"><%= t 'pages.product.update' %></small>
    </div>
  </div>
</div>


<div class="card text-start">
  <div class="card-header">
<%= t 'pages.product.contact2' %>
  </div>
  <div class="card-body">
    <h5 class="card-title"></h5>
    <p class="card-text"><%= t 'pages.product.person2' %></p>
    <p class="card-text"><%= t 'pages.product.tel1' %></p>
    <p class="card-text"><%= t 'pages.product.mobile1' %></p>
    <p class="card-text"><%= t 'pages.product.email1' %></p>
    <p class="card-text"><%= t 'pages.product.vat2' %></p>

  </div>
  <div class="card-footer text-muted text-center">
<%= t 'pages.product.branch2' %>
  </div>
</div>
